<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="ClientId" value="!! enter client id here !! "/>
        <add key="ClientSecret" value="!! enter client secret here !!"/>
    </appSettings>
</configuration>